<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title >Lan Grader</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
      h2 {text-align: center;}
      /* p {text-align: center;} */
      /* div {text-align: center;} */
    </style>
  </head>
  <body>
    
    <div class="top-nav">

      <h2 style="left: 300px;">     Lan Grader, the online argument quality ranker</h2>
    </div>
    <div class="container-fluid" style="width: 80%; margin: 40px 20px auto auto">
      <form >
        <div class="row">
          <div class="col-8" >
            
              <label for="usr text input" class="col-form-label"> Your Argument</label>
              <input type="text" class="form-control" id="usrIn" placeholder="Enter you prompt here..." style="width: 80%;" >  </input>
               <button type="submit" class="btn btn-primary" style="color: whitesmoke;width: 100px; margin-top: 20px; padding: auto;">Enter</button>
          </div>
         
        </div>
      </form>
    </div>
  </body>
</html>